<a href="https://colab.research.google.com/github/appleJuiceB/apcs_project/blob/master/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [15]:
import numpy as np  # make arrays
import pandas as pd # create data frame
from sklearn.model_selection import train_test_split # split data from train and test 
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score #eval model

Data Collection and Processing

In [17]:
# loading the cvs data to Pandas DataFrame 
heart_data = pd.read_csv('/content/heart_disease_data.csv')

In [18]:
#test to print first 5 rows of dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
#test to print last 5 rows 
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
# # of rows and colums 
heart_data.shape

(303, 14)

In [ ]:
#getting some info about data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
#checking for missing value 
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# statistuical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [23]:
# checking distribution of Target Variable (0-healthy, 1-defective) 
#distribution needs to be about 50/50 
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

Splitting the Features and Target

In [24]:
X = heart_data.drop(columns='target', axis = 1)
Y = heart_data['target']

In [25]:
#test 
# should print data w/out target
print(X)
# should print just target column 
print(Y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting Data into Training and Testing data

In [26]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=.2, stratify=Y, random_state=2)
# x is features, y is target v
#test size - how much of % of data want to test 
#stratify - split test data to even porportion that orginal data is in

In [27]:
#test to check if data split correctly (80% in train, 20% in test)
print(X.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training using Logistic Regression

In [29]:
model = LogisticRegression()

In [30]:
# training the LogReg model with Training data
#will find relationship bw features and target 
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation using Accuracy score

In [32]:
#accuracy score on training data 
x_train_prediction = model.predict(x_train) 
#predict will look through features in test data and predict through relationships whether heart healthy or defective 
training_data_accuracy = accuracy_score(x_train_prediction, y_train) 
#comparing predicted value to true

In [34]:
print('Accuracy on Training Data: ' , training_data_accuracy * 100 , ('%'))

Accuracy on Training Data:  85.12396694214877 %

In [35]:
#accuracy score on test data 
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [36]:
print('Accuracy on Testing Data: ' , testing_data_accuracy* 100 , ('%'))

Accuracy on Testing Data:  81.9672131147541 %

Building a Predictive System

In [37]:
## Test 

#input random data from orginal database 
input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)
# should be 1 

#change input data to numpy array 
input_data_as_numpy_array = np.asarray(input_data)

#reshape numpy array to predict for one instance (instead of 242 (size of x_test))
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 1):
  print('This person may have a heart disease')
else :
  print('This person does not have heart disease')

[1]
This person may have a heart disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [38]:
#1 
age = int(input("Patient's age: "))
#2
sex = input("Patient's sex: ")
if (sex == "male"):
  sexn = 1
else:
  sexn = 0
#3
cp = int (input("Patient's Chest pain level (0-3): "))
#4
rbp = int (input("Patient's resting Blood Pressure: "))
#5
chol = int(input("Patient's serum cholestrol: "))
#6
fbs = input("Is patient's fasting blood sugar > 120 mg/dl (yes or no): ")
if (fbs == "yes"):
  fbsN = 1
else:
  fbsN = 0
#7
rec =int (input("""Patient's resting electrocardiographic results (0-2): 
-- Value 0: normal
-- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
-- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
"""))
#8
mhr = int(input("Patient's maximum heart rate achieved: "))
#9
exang = input("Excercised induced angina?" ) 
if (exang == "yes"): 
  exangN = 1
else:
  exangN = 0
#10
op = float(input("Patient's  ST depression induced by exercise relative to rest: "))
#11
slope = int(input("The slope of the peak exercise ST segment (0-positive slope, 1-flat, 2-negative slope): "))
#12
ca =int(input("Number of major vessels (0-3) colored by flourosopy"))
#13
thal = int(input("Does patient have thalassemia? (0-2)"))


#input random data from orginal database 
input_data = (age,sexn,cp,rbp,chol,fbsN,rec, mhr, exangN,op,slope,ca,thal)
input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)


#change input data to numpy array 
input_data_as_numpy_array = np.asarray(input_data)

#reshape numpy array to predict for one instance (instead of 242 (size of x_test))
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)


if (prediction[0] == 1):
  print('This person may have a heart disease')
else :
  print('This person does not have heart disease')

Patient's age: 41
Patient's sex: no
Patient's Chest pain level (0-3): 1
Patient's resting Blood Pressure: 130
Patient's serum cholestrol: 204
Is patient's fasting blood sugar > 120 mg/dl (yes or no): no
Patient's resting electrocardiographic results (0-2):
-- Value 0: normal
-- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
-- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
0
Patient's maximum heart rate achieved: 172
Excercised induced angina?no
Patient's  ST depression induced by exercise relative to rest: 1.4
The slope of the peak exercise ST segment (0-positive slope, 1-flat, 2-negative slope): 2
Number of major vessels (0-3) colored by flourosopy0
Does patient have thalassemia? (0-2)2
[1]
This person may have a heart disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"