<a href="https://colab.research.google.com/github/appleJuiceB/college_projects/blob/master/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np  # make arrays
import pandas as pd # create data frame
from termcolor import colored
from sklearn.model_selection import train_test_split # split data from train and test 
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score #eval model

Data Collection and Processing

In [ ]:
# loading the cvs data to Pandas DataFrame 
heart_data = pd.read_csv('/content/heart_disease_data.csv')

In [ ]:
#test to print first 5 rows of dataset
heart_data.head()

In [ ]:
#test to print last 5 rows 
heart_data.tail()

In [ ]:
# # of rows and colums 
heart_data.shape

In [42]:
#getting some info about data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
#checking for missing value 
heart_data.isnull().sum()

In [ ]:
# statistuical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# checking distribution of Target Variable (0-healthy, 1-defective) 
#distribution needs to be about 50/50 
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

Splitting the Features and Target

In [ ]:
X = heart_data.drop(columns='target', axis = 1)
Y = heart_data['target']

In [ ]:
#test 
# should print data w/out target
print(X)
# should print just target column 
print(Y)

Splitting Data into Training and Testing data

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=.2, stratify=Y, random_state=2)
# x is features, y is target v
#test size - how much of % of data want to test 
#stratify - split test data to even porportion that orginal data is in

In [ ]:
#test to check if data split correctly (80% in train, 20% in test)
print(X.shape, x_train.shape, x_test.shape)

Model Training using Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the LogReg model with Training data
#will find relationship bw features and target 
model.fit(x_train, y_train)

Model Evaluation using Accuracy score

In [ ]:
#accuracy score on training data 
x_train_prediction = model.predict(x_train) 
#predict will look through features in test data and predict through relationships whether heart healthy or defective 
training_data_accuracy = accuracy_score(x_train_prediction, y_train) 
#comparing predicted value to true

In [ ]:
print('Accuracy on Training Data: ' , training_data_accuracy * 100 , ('%'))

Accuracy on Training Data:  85.12396694214877 %

In [ ]:
#accuracy score on test data 
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [ ]:
print('Accuracy on Testing Data: ' , testing_data_accuracy* 100 , ('%'))

Accuracy on Testing Data:  81.9672131147541 %

Building a Predictive System

In [ ]:
## Test 

#input random data from orginal database 
input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)
# should be 1 

#change input data to numpy array 
input_data_as_numpy_array = np.asarray(input_data)

#reshape numpy array to predict for one instance (instead of 242 (size of x_test))
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 1):
  print('\033[91m This person may have a heart disease')
else :
  print('\033[92m This person does not have heart disease')

[1]
 This person may have a heart disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

Actual system:

In [44]:
#1 
age = int(input("Patient's age: "))
#2
sex = input("Patient's sex: ")
if (sex == "male"):
  sexn = 1
else:
  sexn = 0
#3
cp = int (input("Patient's Chest pain level (0-3): "))
#4
rbp = int (input("Patient's resting Blood Pressure: "))
#5
chol = int(input("Patient's serum cholestrol: "))
#6
fbs = input("Is patient's fasting blood sugar > 120 mg/dl (yes or no): ")
if (fbs == "yes"):
  fbsN = 1
else:
  fbsN = 0
#7
rec =int (input("""Patient's resting electrocardiographic results (0-2): 
-- Value 0: normal
-- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
-- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
"""))
#8
mhr = int(input("Patient's maximum heart rate achieved: "))
#9
exang = input("Excercised induced angina?" ) 
if (exang == "yes"): 
  exangN = 1
else:
  exangN = 0
#10
op = float(input("Patient's  ST depression induced by exercise relative to rest: "))
#11
slope = int(input("The slope of the peak exercise ST segment (0-positive slope, 1-flat, 2-negative slope): "))
#12
ca =int(input("Number of major vessels (0-3) colored by flourosopy"))
#13
thal = int(input("Does patient have thalassemia? (0-2)"))


#input Patient data 
input_data = (age,sexn,cp,rbp,chol,fbsN,rec, mhr, exangN,op,slope,ca,thal)


#change input data to numpy array 
input_data_as_numpy_array = np.asarray(input_data)

#reshape numpy array to predict for one instance (instead of 242 (size of x_test))
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)


if (prediction[0] == 1):
  print('\033[91m This person may have a heart disease')
else :
  print('\033[92m This person does not have heart disease')

Patient's age: 41
Patient's sex: f
Patient's Chest pain level (0-3): 1
Patient's resting Blood Pressure: 130
Patient's serum cholestrol: 204
Is patient's fasting blood sugar > 120 mg/dl (yes or no): no
Patient's resting electrocardiographic results (0-2):
-- Value 0: normal
-- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
-- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
0
Patient's maximum heart rate achieved: 172
Excercised induced angina?no
Patient's  ST depression induced by exercise relative to rest: 1.4
The slope of the peak exercise ST segment (0-positive slope, 1-flat, 2-negative slope): 2
Number of major vessels (0-3) colored by flourosopy0
Does patient have thalassemia? (0-2)2
 This person may have a heart disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"